
// Digital.ttf
@font-face {
  font-weight: normal;
  font-family: Digital;
  font-style: normal;
  src: url('./Digital.woff2') format('woff2'),
       url('./Digital.woff') format('woff'),
       url('./Digital.ttf') format('truetype');
}
