
// Montserrat Ace Bold Italic
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Bold Italic;
  font-style: normal;
  src: url('./Montserrat Ace Bold Italic.woff2') format('woff2'),
       url('./Montserrat Ace Bold Italic.woff') format('woff'),
       url('./Montserrat Ace Bold Italic.ttf') format('truetype');
}

// Montserrat Ace Bold
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Bold;
  font-style: normal;
  src: url('./Montserrat Ace Bold.woff2') format('woff2'),
       url('./Montserrat Ace Bold.woff') format('woff'),
       url('./Montserrat Ace Bold.ttf') format('truetype');
}

// Montserrat Ace Italic
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Italic;
  font-style: normal;
  src: url('./Montserrat Ace Italic.woff2') format('woff2'),
       url('./Montserrat Ace Italic.woff') format('woff'),
       url('./Montserrat Ace Italic.ttf') format('truetype');
}

// Montserrat Ace Light Italic
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Light Italic;
  font-style: normal;
  src: url('./Montserrat Ace Light Italic.woff2') format('woff2'),
       url('./Montserrat Ace Light Italic.woff') format('woff'),
       url('./Montserrat Ace Light Italic.ttf') format('truetype');
}

// Montserrat Ace Light
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Light;
  font-style: normal;
  src: url('./Montserrat Ace Light.woff2') format('woff2'),
       url('./Montserrat Ace Light.woff') format('woff'),
       url('./Montserrat Ace Light.ttf') format('truetype');
}

// Montserrat Ace Medium Italic
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Medium Italic;
  font-style: normal;
  src: url('./Montserrat Ace Medium Italic.woff2') format('woff2'),
       url('./Montserrat Ace Medium Italic.woff') format('woff'),
       url('./Montserrat Ace Medium Italic.ttf') format('truetype');
}

// Montserrat Ace Medium
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Medium;
  font-style: normal;
  src: url('./Montserrat Ace Medium.woff2') format('woff2'),
       url('./Montserrat Ace Medium.woff') format('woff'),
       url('./Montserrat Ace Medium.ttf') format('truetype');
}

// Montserrat Ace Regular
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace Regular;
  font-style: normal;
  src: url('./Montserrat Ace Regular.woff2') format('woff2'),
       url('./Montserrat Ace Regular.woff') format('woff'),
       url('./Montserrat Ace Regular.ttf') format('truetype');
}

// Montserrat Ace SemiBold Italic
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace SemiBold Italic;
  font-style: normal;
  src: url('./Montserrat Ace SemiBold Italic.woff2') format('woff2'),
       url('./Montserrat Ace SemiBold Italic.woff') format('woff'),
       url('./Montserrat Ace SemiBold Italic.ttf') format('truetype');
}

// Montserrat Ace SemiBold
@font-face {
  font-weight: normal;
  font-family: Montserrat Ace SemiBold;
  font-style: normal;
  src: url('./Montserrat Ace SemiBold.woff2') format('woff2'),
       url('./Montserrat Ace SemiBold.woff') format('woff'),
       url('./Montserrat Ace SemiBold.ttf') format('truetype');
}
