
// 旁门正道
@font-face {
  font-weight: normal;
  font-family: PangMenZhengDaoBiaoTi;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/wordshub/free-font/assets/font/中文/庞门正道字体系列/庞门正道标题体.ttf') format('truetype'),
       url('./PangMenZhengDaoBiaoTi.woff2') format('woff2'),
       url('./PangMenZhengDaoBiaoTi.woff') format('woff'),
       url('./PangMenZhengDaoBiaoTi.ttf') format('truetype');
}
