
// 思源黑体 Bold
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN Bold;
  font-style: normal;
  src: url('./SourceHanSansCN Bold.woff2') format('woff2'),
       url('./SourceHanSansCN Bold.woff') format('woff'),
       url('./SourceHanSansCN Bold.ttf') format('truetype');
}

// 思源黑体 ExtraLight
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN ExtraLight;
  font-style: normal;
  src: url('./SourceHanSansCN ExtraLight.woff2') format('woff2'),
       url('./SourceHanSansCN ExtraLight.woff') format('woff'),
       url('./SourceHanSansCN ExtraLight.ttf') format('truetype');
}

// 思源黑体 Heavy
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN Heavy;
  font-style: normal;
  src: url('./SourceHanSansCN Heavy.woff2') format('woff2'),
       url('./SourceHanSansCN Heavy.woff') format('woff'),
       url('./SourceHanSansCN Heavy.ttf') format('truetype');
}

// 思源黑体 Light
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN Light;
  font-style: normal;
  src: url('./SourceHanSansCN Light.woff2') format('woff2'),
       url('./SourceHanSansCN Light.woff') format('woff'),
       url('./SourceHanSansCN Light.ttf') format('truetype');
}

// 思源黑体 Medium
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN Medium;
  font-style: normal;
  src: url('./SourceHanSansCN Medium.woff2') format('woff2'),
       url('./SourceHanSansCN Medium.woff') format('woff'),
       url('./SourceHanSansCN Medium.ttf') format('truetype');
}

// 思源黑体 Normal
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN Normal;
  font-style: normal;
  src: url('./SourceHanSansCN Normal.woff2') format('woff2'),
       url('./SourceHanSansCN Normal.woff') format('woff'),
       url('./SourceHanSansCN Normal.ttf') format('truetype');
}

// 思源黑体 Regular
@font-face {
  font-weight: normal;
  font-family: SourceHanSansCN Regular;
  font-style: normal;
  src: url('./SourceHanSansCN Regular.woff2') format('woff2'),
       url('./SourceHanSansCN Regular.woff') format('woff'),
       url('./SourceHanSansCN Regular.ttf') format('truetype');
}
