/* 旁门正道标题 */

@font-face {
  font-weight: normal;
  font-family: PangMenZhengDaoBiaoTi Regular;
  font-style: normal;
  src: url('./PangMenZhengDaoBiaoTi-Regular.woff2') format('woff2'),
       url('./PangMenZhengDaoBiaoTi-Regular.woff') format('woff'),
       url('./PangMenZhengDaoBiaoTi-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: PangMenZhengDaoBiaoTi;
  font-style: normal;
  src: url('./PangMenZhengDaoBiaoTi-Regular.woff2') format('woff2'),
       url('./PangMenZhengDaoBiaoTi-Regular.woff') format('woff'),
       url('./PangMenZhengDaoBiaoTi-Regular.ttf') format('truetype');
}
