
@font-face {
  font-family: OPPOSans Bold;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Bold.ttf') format('truetype'),
       
       url('./OPPOSans-Bold.woff2') format('woff2'),
       url('./OPPOSans-Bold.woff') format('woff'),
       url('./OPPOSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans Heavy;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Heavy.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Heavy.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Heavy.ttf') format('truetype'),
       
       url('./OPPOSans-Heavy.woff2') format('woff2'),
       url('./OPPOSans-Heavy.woff') format('woff'),
       url('./OPPOSans-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans Light;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Light.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Light.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Light.ttf') format('truetype'),
       
       url('./OPPOSans-Light.woff2') format('woff2'),
       url('./OPPOSans-Light.woff') format('woff'),
       url('./OPPOSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans Medium;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Medium.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Medium.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Medium.ttf') format('truetype'),
       
       url('./OPPOSans-Medium.woff2') format('woff2'),
       url('./OPPOSans-Medium.woff') format('woff'),
       url('./OPPOSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans Regular;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Regular.ttf') format('truetype'),
       
       url('./OPPOSans-Regular.woff2') format('woff2'),
       url('./OPPOSans-Regular.woff') format('woff'),
       url('./OPPOSans-Regular.ttf') format('truetype');
}

/* --------------------------------------------------------- */


@font-face {
  font-family: OPPOSans B;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Bold.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Bold.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Bold.ttf') format('truetype'),
       
       url('./OPPOSans-Bold.woff2') format('woff2'),
       url('./OPPOSans-Bold.woff') format('woff'),
       url('./OPPOSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans H;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Heavy.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Heavy.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Heavy.ttf') format('truetype'),
       
       url('./OPPOSans-Heavy.woff2') format('woff2'),
       url('./OPPOSans-Heavy.woff') format('woff'),
       url('./OPPOSans-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans L;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Light.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Light.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Light.ttf') format('truetype'),
       
       url('./OPPOSans-Light.woff2') format('woff2'),
       url('./OPPOSans-Light.woff') format('woff'),
       url('./OPPOSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans M;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Medium.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Medium.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Medium.ttf') format('truetype'),
       
       url('./OPPOSans-Medium.woff2') format('woff2'),
       url('./OPPOSans-Medium.woff') format('woff'),
       url('./OPPOSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: OPPOSans R;
  src: url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Regular.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Regular.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/@zf-web-font/opposans/OPPOSans-Regular.ttf') format('truetype'),
       
       url('./OPPOSans-Regular.woff2') format('woff2'),
       url('./OPPOSans-Regular.woff') format('woff'),
       url('./OPPOSans-Regular.ttf') format('truetype');
}
