
// OPPOSans B.ttf
@font-face {
  font-weight: normal;
  font-family: OPPOSans B;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/wordshub/free-font/assets/font/中文/其他字体/OPPO Sans/OPPOSans-B.ttf') format('truetype'),
       url('@/fonts/OPPOSans/OPPOSans B.woff2') format('woff2'),
       url('@/fonts/OPPOSans/OPPOSans B.woff') format('woff'),
       url('@/fonts/OPPOSans/OPPOSans B.ttf') format('truetype');
}

// OPPOSans H.ttf
@font-face {
  font-weight: normal;
  font-family: OPPOSans H;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/wordshub/free-font/assets/font/中文/其他字体/OPPO Sans/OPPOSans-H.ttf') format('truetype'),
       url('@/fonts/OPPOSans H.woff2') format('woff2'),
       url('@/fonts/OPPOSans H.woff') format('woff'),
       url('@/fonts/OPPOSans H.ttf') format('truetype');
}

// OPPOSans L.ttf
@font-face {
  font-weight: normal;
  font-family: OPPOSans L;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/wordshub/free-font/assets/font/中文/其他字体/OPPO Sans/OPPOSans-L.ttf') format('truetype'),
       url('@/fonts/OPPOSans L.woff2') format('woff2'),
       url('@/fonts/OPPOSans L.woff') format('woff'),
       url('@/fonts/OPPOSans L.ttf') format('truetype');
}

// OPPOSans M.ttf
@font-face {
  font-weight: normal;
  font-family: OPPOSans M;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/wordshub/free-font/assets/font/中文/其他字体/OPPO Sans/OPPOSans-M.ttf') format('truetype'),
       url('./OPPOSans M.woff2') format('woff2'),
       url('./OPPOSans M.woff') format('woff'),
       url('./OPPOSans M.ttf') format('truetype');
}

// OPPOSans R.ttf
@font-face {
  font-weight: normal;
  font-family: OPPOSans R;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/wordshub/free-font/assets/font/中文/其他字体/OPPO Sans/OPPOSans-R.ttf') format('truetype'),
       url('./OPPOSans R.woff2') format('woff2'),
       url('./OPPOSans R.woff') format('woff'),
       url('./OPPOSans R.ttf') format('truetype');
}
